#headSection {
    background: url(img/old_paper.jpg) no-repeat center top;
    padding-top: 200px;
    position: fixed;
    background: transparent url(img/landing.jpg) no-repeat center top;
   background-size:cover;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
     text-align:center;
     padding-bottom: 100px;
     background-attachment: relative;
     background-position: center center;
     min-height: 700px;
    min-height: 100%;
     width: 100%;
     -webkit-background-size: 100%;
     -moz-background-size: 100%;
     -o-background-size: cover;
     background-size: cover;
}
