<!-- {{ogLogoCollection}} -->
<div ui-view class="ogView">
  <div id="bg" class="container-fluid">
    <div class="row">
      <div id="imgBox" class="darken col-md-3" ng-repeat="ogLogo in ogLogoCollection track by $index" ng-click="setIndex($index)">
            <a class="view" ui-sref="og.ogSubView"><img class="img-responsive" ng-src="{{ogLogo}}"/></a>
      </div>
    </div>
  </div>
</div>
<!-- <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
<div class="flipper">
<div class="front">
front content
</div>
<div class="back">
back content
</div>
</div>
</div> -->
