<div class="about">
    <div class="container">
        <header class="row">
            <div class="col-md-12 text-center">
                <h1>The Team</h1>
            </div>
        </header>

        <div class="row">
            <div class="col-md-12 text-center">
                <h2>{{ mainTeam.committee }}</h2>
                <p>{{ mainTeam.description }}</p>
            </div>
            <div class="row text-center">
                <div class="col-xs-12 all-padding-1" ng-repeat="member in mainTeam.members">
                    {{ member.name }} - {{ member.title }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 bot-margin-1 all-padding-1">
                <h2 class="text-center">{{ finComm.committee }}</h2>
                <p class="text-center">{{ finComm.description }}</p>
            </div>
        </div>

        <div class="row">
            <div class="vn-sub-comm col-md-6 all-padding-1" ng-repeat="comm in subComm">
                <h2 class="text-center">{{ comm.committee }}</h2>
                <p>{{ comm.description }}</p>
                <div class="row text-center">
                    <div ng-class="comm.rows" class="col-xs-12 all-padding-1" ng-repeat="member in comm.members">
                        {{ member }}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
