.about {
    background-image: url(img/shared/vn-background.jpg);
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -ms-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;

    header h1 {
        font-size: 70px;
        font-family: 'Lucida Blackletter';
        font-weight: 700;
    }
    h2 {
        font-size: 45px;
        font-family: 'Charlemagne Std Bold';
        font-weight: 500px;
    }
    .vn-profile-img {
        width: 100px;
    }
    ul {
        list-style-type: none;
    }
    .vn-sub-comm {
        min-height: 800px;
    }
    .col-xs-12.vn-sub-comm {
        min-height: 0;
    }
    .vn-comm {
        font-family: 'Karla', sans-serif;
    }
}

