.about {
    background-image: url(img/shared/vn-background.jpg);
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -ms-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    
    header h1 {
        font-weight: 700;
    }
    .vn-profile-img {
        width: 100px;
    }
    .vn-member-box {
        background-color: @color-primary;
        border-radius: 5px;
        box-shadow: 5px 5px 10px -4px @color-primary-dark;
    }
}
