/**
 * Main application stylesheet
 */

// Twitter Bootstrap
@import '../../vendor/bootstrap/less/bootstrap.less';

// Main variables file
@import 'variables.less';

// Typography
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff) format('woff');
}

// Navigation
.navbar {
  margin-top: 20px;

  small {
    font-size: 60%;
  }
}

/* Sub-modules */
@import '../common/ionicons.min.less';
@import '../app/updates/updates.less';
@import '../app/home/home.less';
@import '../app/about/about.less';
@import '../common/style.less';
// @import '../common/icons.less';

