.updates {
  background-image: url(img/shared/vn-background.jpg);
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -ms-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;

  header h1 {
    font-family: 'Lucida Blackletter';
    font-size: 70px;
    font-weight: 700;
  }
  .vn-update-box h2 {
      font-family: 'Charlemagne Std Bold';
      font-size: 45px;
      font-weight: 500;
  }
  .vn-update-box p {
      font-family: 'Karla', sans-serif;
      white-space: pre-wrap;
  }
  .vn-update-img {
      max-height: 250px;
      max-width: 250px;
  }
}

