@font-face {
    font-family: 'Lucida Blackletter';
    src: url('assets/fonts/lucida-blackletter/Aro.woff') format('woff');
}

.updates {
  background-image: url(img/shared/vn-background.jpg);
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -ms-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;

  header h1 {
    font-family: 'Lucida Blackletter';
    font-size: 70px;
    font-weight: 700;
  }
  .vn-update-box p {
      white-space: pre-wrap;
  }
  .vn-update-img {
    max-height: 300px;
    max-width: 300px;
    border: 5px solid black;
  }
}

