<div class="container-fluid" id="subview">
  <div class="row">
    <i id="backBtn" ng-click="goBack()" class="fa fa-chevron-left"></i>
    <div class="col-md-6">
      <img src="{{ogLogoCollection[currentIndex]}}" class="img-responsive" alt="" />
    </div>
    <div class="col-md-6" id="ogContent">
      <p id="ogHeader">{{currentName}}</p>
      <div>
        <div id="quote">
          "{{currentOGInfo["quote"]}}"
        </div>
        <br>
        <div id="by">
          - {{currentOGInfo["by"]}}
        </div>
        <br>
        <div id="desc">
          {{currentOGInfo["desc"]}}
        </div>
        <br>

        <p id="ogl">ogls</p>
        <div class="row ogl">
          <ul>
            <li id="headOGL">{{currentOGInfo["headOGL"]}}</li>
          </ul>
          <ul ng-repeat="ogl in ogls">
            <li>{{ogl}}</li>
          </ul>
          <!-- <div class="col-md-4">
            <img src="http://www.innovativephp.com/demo/impress-js-demos/chapter5/images/aboutme.jpg" class="img-responsive" alt="" />
            <br>
            ogl1
          </div>
          <div class="col-md-4">
            <img src="http://www.innovativephp.com/demo/impress-js-demos/chapter5/images/aboutme.jpg" class="img-responsive" alt="" />
            <br>
            ogl2
          </div>
          <div class="col-md-4">
            <img src="http://www.innovativephp.com/demo/impress-js-demos/chapter5/images/aboutme.jpg" class="img-responsive" alt="" />
            <br>
            ogl3
          </div> -->
        </div>

      </div>
    </div>
  </div>
</div>
