<div class="container-fluid" id="subview">
  {{currentIndex}}
  <div class="row">
    <i id="backBtn" ng-click="goBack()" class="fa fa-chevron-left"></i>
    <div class="col-md-6">
      <img src="{{iconCollection[currentIndex]}}" class="img-responsive" alt="" />
    </div>
    <div class="col-md-6" id="ogContent">
      <!-- <p id="ogHeader">{{currentName}}</p> -->
      <div>
        <div id="quote">
          "{{currentOGInfo["quote"]}}"
        </div>
        <br>
        <div id="by">
          - {{currentOGInfo["by"]}}
        </div>
        <br>
        <div id="desc">
          {{currentOGInfo["desc"]}}
        </div>
        <br>

        <p id="ogl">ogls</p>
        <div class="row ogl">
          <ul>
            <li id="headOGL">{{currentOGInfo["headOGL"]}}</li>
          </ul>
          <ul ng-repeat="ogl in ogls">
            <li>{{ogl}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
