@import url(http://fonts.googleapis.com/css?family=UnifrakturMaguntia);
// .container {
//   padding-right: 0;
//   padding-left: 0;
//   margin-right: auto;
//   margin-left: auto;
// }
img{
  background-color:rgba(255,0,0,0.5);
}

/* ----------- Non-Retina Screens ----------- */

#headSection {
  position: fixed;
  background-color: #212121;
  // background-size:cover;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  text-align:center;
  padding-bottom: 100px;
  background-attachment: relative;
  background-position: center center;
  min-height: 100%;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .container-fluid {
      padding: 0px;
      margin: 0px;
  }

  .container-fluid .row{
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 60px;
    color: #654321;
  }
}

@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px) {
  #headSection{
    max-height: 5px
  }
}
