@import url(http://fonts.googleapis.com/css?family=UnifrakturMaguntia);

/* ----------- Non-Retina Screens ----------- */

#headSection {
  position: fixed;
  background-color: #1F1F1F;
  // background-size:cover;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  text-align:center;
  // padding-bottom: 100px;
  background-attachment: relative;
  background-position: center center;
  min-height: 100%;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .container-fluid {
      padding: 0px;
      margin: 0px;
  }
}
